/*Субтитры*/
.section-subtitle_theme_dark {
    line-height: 34px;
    text-align: center;
    width: 60%;
    font-size: 24px;
    font-weight: normal;
    margin: 20px auto 0;
    color: #fff;
    position: relative;
    z-index: 1;
  }